html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #222222;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

a {
  text-decoration: none;
  color: #3B82F6;
}

a:hover, a:focus {
  color: #1D4ED8;
}

#navbar {
  padding: 8px;
  margin: 0;
}

form{
  padding-bottom: 20px;
}

form.Search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

form.Search button {
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.Search button:hover {
  background: #0b7dda;
}

form.Search::after {
  content: "";
  clear: both;
  display: table;
}



h1 {
    text-align: center;
}


#about {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  width: 50%;
  padding-right: 8px;
  font-size: 1.25rem;
}

#banner {
  width: 50%;
}

#banner-image {
  border-radius: 5px;
  width: 100%
}

#jobs-table{
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;  /*remove double border */
}

#jobs-table tr:nth-child(odd) {
  background-color: #EFF6FF;
}

.jobs-header-row th {
  border: 1px solid grey;
  padding: 8px;
  background-color: #BFDBFE;
  text-align: center;
  color: #222222;
}

.jobs-data-row td {
  border: 1px solid gray;
  padding: 8px;
 }


h2 {
  text-align: center;
}

#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

h3 {
  margin-bottom: 4px;
  margin-top: 0;
}

.apply {
  float: right;
}

#footer {
  background-color: #FAFAFA;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;  
}

#footer-links li {
  display: inline;
  margin: 0 16px;
}

.copyright {
  color: #71717A;
  font-size: 0.875rem;
}

